/* BOOTSTRAP MANIPULATION */
.col-md-9 {
    padding-left: 0;
    padding-right: 0;
}

.col {
    padding-left: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* THE CONTAINER THAT HOLDS THE ENTIRE BUCKET LIST */
.bucketListWrapper {
    background-color: whitesmoke;
    width: 25em;
    height: 45em;
    text-align: center;
}

/* HEADER */
.bucketListHeader {
    padding: 1em;
    background-color: #29b5d5;
}

/* DELETE BUTTON */
.redX {
    cursor: pointer;
    color: red;
}


/* THE SUBMIT BUTTON */
.bucketListSubmit {
    background-color: #29b5d5;
    border: none;
    color: black;
}

.bucketListSubmit:hover {
    background-color: #9F4FE8;
}

/* THE UL THAT HOLDS THE BANDS */
.bandList {
    height: 23em;
    overflow: auto;
    list-style-type: none;
}

/* ADD A BAND FORM */
.bucketListCreate {
    padding-top: 1.5em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

/* MEDIA QUERIES */
@media (max-width: 576px) {
    .col {
        padding-left: 0;
        padding-right: 0;
    }

    .bucketListWrapper {
        display: block;
        margin: auto;
        width: 20em;
    }

    .bucketListCreate form {
        padding-left: 3em;
        padding-right: 3em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .bucketListWrapper {
        display: block;
        margin: auto;
    }
}
