@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.index {
    margin-top: 2em;
    margin-bottom: 3em;
}

.table {
    background-color: white;
    height: 35em;
    overflow: auto;
}

.create {
    background-color: #9F4FE8;
    color: black;
    height: 100%;
    text-align: center;
    padding: 1em;
}

form {
    width: 100%;
}

.editConcert {
    padding-bottom: 1em;
}

.logConcert {
    background-color: #F5384C;
    border: none;
}

/* MEDIA QUERIES */

@media (max-width: 576px) {
    .table{
        display: block;
        margin: auto;
        width: 20em;
        padding: 0;
    }

    .create {
        display: block;
        margin: auto;
        margin-top: 2em;
        max-width: 100%;
    }

    .logContainer {
        width: 18em;
    }
}


@media (max-width: 400px) {
    .table{
        width: 15em;
    }
    .logContainer {
        width: 13em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .table{
        display: block;
        margin: auto;
        max-width: 100%;  
        flex: 100%;
    }

    .create {
        display: block;
        margin: auto;
        margin-top: 2em;
        max-width: 100%;
        flex: 0 0 75%;
    }
}
