/* FONT */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/* COUNTER H1 */
.counterRow {
    text-align: center;
    background-color: whitesmoke;
    padding: 1em;
}

.numColor {
    color: #29b5d5;
    font-weight: 700;
}

/* CONTAINER THAT HOLDS ALL CONTENT */
.index {
    margin-top: 2em;
    margin-bottom: 3em;
}

/* LOG TABLE */
.table {
    background-color: white;
    height: 35em;
    overflow: auto;
}

/* ADD A CONCERT FORM */
.create {
    background-color: #9F4FE8;
    color: black;
    height: 100%;
    text-align: center;
    padding: 1em;
}

form {
    width: 100%;
}

/* ADD A CONCERT FORM BUTTON */
.logConcert {
    background-color: #F5384C;
    border: none;
}

.logConcert:hover {
    background-color: #29b5d5;
}

/* EDIT MODAL */
.editConcert {
    padding-bottom: 1em;
}


/* MEDIA QUERIES */
@media (max-width: 576px) {
    .counterRow {
        display: block;
        margin: auto;
        
        text-align: center;
    }

    .table{
        display: block;
        margin: auto;
        margin-top: 2em;
        width: 20em;
        padding: 0;
    }

    .create {
        display: block;
        margin: auto;
        margin-top: 2em;
        max-width: 100%;
    }

    .logContainer {
        width: 18em;
    }
}


@media (max-width: 400px) {
    .table{
        width: 15em;
    }
    .logContainer {
        width: 13em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .counterRow {
        display: block;
        margin: auto;
        max-width: 90%;
    }
    
    .table{
        display: block;
        margin: auto;
        max-width: 90%;  
        flex: 100%;
    }

    .create {
        display: block;
        margin: auto;
        margin-top: 2em;
        max-width: 100%;
        flex: 0 0 75%;
    }
}
