@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

.nav {
    background-color: #9F4FE8;
}

button {
    background-color: none;
}

img {
    width: 2em;
}

.brand {
    font-family: 'Rock Salt', cursive;
    color: white;
}
