@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

.nav {
    background-color: #F5384C;
    color: black;
    height: 3.5em;
}

.brand {
    font-family: 'Rock Salt', cursive;
}

.logout {
    cursor: pointer;
}

.logout:hover {
    color: white;
}


