@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

body{
    background-image: url('../assets/auth.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.authParent {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.auth {
    position:absolute;
    top:50%;
    left:50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#appTitle {
    margin-top: 7%;
    text-align: center;
    font-size: 5em;
    font-family: 'Rock Salt', cursive;
}

form {
    width: 30em;
}
